h1{
    text-align: center;
    color: crimson;
}
.boxmodelcalculation{
    width: 400px;
    margin: 20px;
    border: 2px solid #eee;
    padding: 20px;
    }

.myboxmodel{ 
    background-color: rgb(93, 209, 161);
    width: 500px;
    border: 15px solid rgb(16, 104, 116);
    padding: 50px;
    margin: 25px ;

}
h3{
    color: darkblue;
}
h2{
    color: crimson;
}
